<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ToDoリストを作ろう</title>
</head>

<body>
    <div th:if="${param.loggedIn}" style="color: green;">ログインしました。</div>
    <div th:if="${param.loggedOut}">ログアウトしました。</div>

    <h2>ToDoリスト</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>タイトル</th>
                <th>優先度</th>
                <th>ステータス</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="todo : ${todos}">
                <td th:text="${todo.getId()}"></td>
                <td th:text="${todo.getTitle()}"></td>
                <td th:text="${todo.getPriority()}"></td>
                <td th:text="${todo.getStatus()}"></td>
            </tr>
        </tbody>
    </table>
</body>

</html>